 img.left {float:right;}

.red{background-color:#F86451; color:white;}
.orange{background-color:#FAB55B; color:white;}
.yellow{background-color:#F2F676; color:white;}
.green{background-color:#BCE1B1; color:white;}
.brown{background-color:#D2D0C7; color:white;}
.blue{background-color:#91E7EA; color:white;}
.purple{background-color:#CFACEF; color:white;}
.pink{background-color:#F2DEDE; color:white;}
