 img.left {float:right;}

.red{background-color:#F86451; color:white;}
.orange{background-color:#FAB55B; color:white;}
.yellow{background-color:#F2F676; color:white;}
.green{background-color:#BCE1B1; color:white;}
.brown{background-color:#D2D0C7; color:white;}
.blue{background-color:#91E7EA; color:white;}
.purple{background-color:#CFACEF; color:white;}
.pink{background-color:#F2DEDE; color:white;}

.well {

	float:right;
	width:50%;
	min-width:130px;
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
margin-left:20px;
background-color: whiteSmoke;
border: 1px solid #EEE;
border: 1px solid rgba(0, 0, 0, 0.05);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
border-image: initial;
}

.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
	color:#0088CC;

  display: block;
}
.nav > li > a:visited {
  color:#0088CC;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
}
.nav-list > li > a, .nav-list .nav-header {
  display: block;
  padding: 3px 15px;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list .nav-header {
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-transform: uppercase;
}
.nav-list > li + .nav-header {
  margin-top: 9px;
}
.nav-list .active > a, .nav-list .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.nav-list [class^="icon-"] {
  margin-right: 2px;
}
